.produtos-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.produtos-form-page {
  flex: 1; /* Ambos os elementos terão o mesmo tamanho */
  max-width: 50%; /* Garante que ocupem metade da largura */
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.produtos-list {
  flex: 1; /* Ambos os elementos terão o mesmo tamanho */
  max-width: 50%; /* Garante que ocupem metade da largura */
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.produtos-list ul {
  list-style: none;
  padding: 0;
}

.produto-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.produto-actions {
  display: flex;
  gap: 10px;
}

.btn-edit {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.9rem;
}

.btn-edit:hover {
  background-color: #218838;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.9rem;
}

.btn-delete:hover {
  background-color: #c82333;
}